<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="QueryServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://corp.infragistics.local/_vti_bin/Search.asmx"
                binding="basicHttpBinding" bindingConfiguration="QueryServiceSoap"
                contract="SearchService.QueryServiceSoap" name="QueryServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>